<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.HotGoodsControl.dao.HotGoodsDao">

    <!--新增热门商品-->
    <insert id="addHotGoods" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" >
        insert  into t_hotgoods_management
        (hotGoods_Id,
        hotGoods_num ,
        goods_id,
        is_deleted,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        version
        )
        values (
        now(),
        #{hotGoodsNum},
        #{goodsCode},
        0,
        now(),
        #{createBy},
        now(),
        #{lastModifiedBy},
        0
        )
    </insert>
    <!--查询热门商品详情-->
    <select id="getHotGoods" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" resultType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo">
        select
        hotGoods_num hotGoodsNum,
        hotGoods_id hotGoodsCode,
        goods_id goodsCode,
        goods_name goodsName,
        goods_price,
        version version
        from t_hotgoods_management
        where hotGoods_id = #{hotGoodsCode}
        and is_deleted = 0
    </select>
    <!--查询热门商品列表-->
    <select id="listHotGoodsByPage" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" resultType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo">
        select
        a.hotGoods_num,
        a.hotGoods_id hotGoodsCode,
        b.goods_code goodsCode,
        b.goods_name goodsName,
        b.goods_sell_price goodsPrice,
        b.goods_introduction goodsIntroduction,
        a.version
        from t_hotgoods_management a , t_goods_management b
        where a.is_deleted = 0
        <if test="goodsName!= null and goodsName != ''">
            and b.goods_name like concat('%',#{goodsName},'%')
        </if>
        <if test="goodsCode!= null and goodsCode != ''">
            and b.goods_code like concat('%',#{goodsCode},'%')
        </if>
       and a.goods_id = b.goods_code
    </select>
    <!--查询热门商品数量-->
    <select id="getHotGoodsShowNum" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" resultType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" >
          select hotGoods_show hotGoodsShowNum,
          version
          from t_hotgoods_management
          where is_deleted = 0
    </select>
    <!--修改热门商品展示数量-->
    <update id="updateHotGoodsShowNum" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" >
        update t_hotgoods_management
        set
            hotGoods_show = #{hotGoodsShowNum}
            where is_deleted = 0 and
            version = #{version}
    </update>
    <!--修改热门商品-->
    <update id="updateHotGoods" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" >
        update t_hotgoods_management
        set
            hotGoods_id = #{hotGoodsCode},
            hotGoods_num = #{hotGoodsNum},
            goods_id = #{goodsCode},
             version = version + 1
            where is_deleted = 0
             and
            hotGoods_id = #{hotGoodsCode}
            and version = #{version}
    </update>
    <!--删除热门商品-->
    <update id="deleteHotGoods" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" >
        update t_hotgoods_management
        set
        is_deleted = 1,
        gmt_modified = now(),
        last_modified_by = now(),
        version = version + 1
        where hotGoods_id in
        <foreach item="store" index="index" collection="listCode" open="(" separator="," close=")">
            #{store}
        </foreach>

    </update>
    <!--判断商品是否已被选择-->
    <select id="countGoodsCode" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" resultType="Integer"  >
          select  count(goods_id)
          from t_hotgoods_management
          where is_deleted = 0
          and  goods_id = #{goodsCode}
    </select>
    <!--判断序号已被使用-->
    <select id="countHotGoodsNum" parameterType="com.xzsd.pc.HotGoodsControl.entity.HotGoodsInfo" resultType="Integer" >
          select  count(hotGoods_num)
          from t_hotgoods_management
          where is_deleted = 0
          and hotGoods_num = #{hotGoodsNum}
    </select>

</mapper>