<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.OrderControl.dao.OrderDao">
    <!--查询订单详情-->
    <select id="listOrder" parameterType="com.xzsd.pc.OrderControl.entity.OrderInfo"  resultType="com.xzsd.pc.OrderControl.entity.OrderInfo">
        select
        a.user_code userCode,
        c.order_id orderCode,
        b.goods_code goodsCode,
        b.goods_name goodsName,
        c.goods_count orderCount,
        c.order_price orderPrice,
        b.goods_sell_price goodsSellPrice,
        c.phone phone,
        b.goods_pricing   goodsPricing
        from t_sys_user a,t_goods_management b,t_order_management c
        where order_id = #{orderCode} and a.user_code = c.user_id and b.goods_code = c.goods_id
        and a.is_deleted = 0
    </select>
    <!--查询订单列表-->
    <select id="listOrderByPage" parameterType="com.xzsd.pc.OrderControl.entity.OrderInfo"  resultType="com.xzsd.pc.OrderControl.entity.OrderInfo">
        select
        order_id orderCode,
        order_name orderName,
        order_price ,
        phone,
        order_status ,
        store_id storeCode,
        role role,
        version version
        from t_order_management
        where is_deleted = 0
        <if test="orderName != null and orderName != ''">
            and order_name like concat('%', #{orderName}, '%')
        </if>
        <if test="orderCode != null and orderCode != ''">
            and order_id like concat('%', #{orderCode}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and phone like concat('%', #{phone}, '%')
        </if>
        <if test="payTime != null and payTime != ''">
            and pay_time like concat('%', #{payTime}, '%')
        </if>
        <if test="orderStatus != null and orderStatus != ''">
            and order_status like concat('%', #{orderStatus}, '%')
        </if>
        <if test="payTimeStart != null and payTimeStart != ''">
            and pay_time_start like concat('%', #{payTimeStart}, '%')
        </if>
        <if test="role != null and role != ''">
            and role like concat('%', #{role}, '%')
        </if>
    </select>
    <!--修改订单状态-->
    <update id="updateOrder" parameterType="com.xzsd.pc.OrderControl.entity.OrderInfo" >
        update t_order_management
        set
            order_status = #{orderStatus},
            gmt_modified = now(),
            last_modified_by = #{lastModifiedBy},
            version = version + 1
        where is_deleted = 0
        <if test="orderCode != null and orderCode != ''">
        and order_id like concat('%', #{orderCode}, '%')
    </if>
    </update>
</mapper>