<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.AppGoods.dao.AppGoodsDao">
    <!--查询商品详情-->
    <select id="getGoods" parameterType="com.xzsd.app.AppGoods.entity.AppGoodsInfo" resultType="com.xzsd.app.AppGoods.entity.AppGoodsInfo">
    select
    distinct
     a.goods_code,
     a.store_code storeCode,
     a.goods_name goodsName,
     a.isbn_booknum isBnBookNum,
     a.goods_introduction goodsIntroduction,
     a.goods_sell_price goodsSellPrice,
     a.goods_picture goodsPicture,
     a.goods_evaluate evaluateContent,
     a.author,
     a.press,
     a.store_name storeName,
     b.class_name firstSortName,
     c.class_name secondSortName
     from t_goods_management a
      LEFT JOIN t_goods_classification b on   a.primary_class = b.class_id
      LEFT JOIN (SELECT class_name ,class_id from t_goods_management a ,t_goods_classification b where a.primary_class = b.class_parent )c on a.second_class = c.class_id
        where
        a.is_deleted =0

        <if test="goodsCode != null and goodsCode    != ''">
           and a.goods_code  = #{goodsCode}
        </if>
        <if test="secondSortCode != null and secondSortCode != ''">
         and b.parent_id=#{secondSortCode}
        </if>

    </select>
    <!--查询商品评价列表-->
    <select id="listEvaluate" parameterType="com.xzsd.app.AppGoods.entity.AppGoodsInfo" resultType="com.xzsd.app.AppGoods.entity.AppGoodsInfo">
        select
        user_acct,
        evaluate evaluateContent,
        evaluate_score goodsEvaluateScore,
        create_time evaluateCreateTime,
        image_path
        from t_goods_evaluate
        where is_deleted = 0 and
        goods_id = #{goodsCode}
        <if test="secondSortCode != null and secondSortCode != ''">
            and ecaluate_score=#{goodsEvaluateScore}
        </if>
    </select>
    <!--查询商品一级分类-->
    <select id="getOneClassifyList" parameterType="com.xzsd.app.AppGoods.entity.AppGoodsInfo" resultType="com.xzsd.app.AppGoods.entity.AppGoodsInfo">
        select
        class_id firstSortCode,
       class_name firstSortName
        from t_goods_classification
        where is_deleted = 0
        and class_parent = 0
    </select>
    <resultMap id="TwoSortInfo" type="com.xzsd.app.AppGoods.entity.TwoSortInfo">
        <id column="class_id" property="secondSortCode" jdbcType="VARCHAR"/>
        <result column="class_name" property="secondSortName" jdbcType="VARCHAR"/>
        <collection property="appGoodsInfo" ofType="com.xzsd.app.AppGoods.entity.AppGoodsInfo">
            <id column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
            <result column="goods_picture" property="goodsPicture" jdbcType="VARCHAR"/>
            <result column="goods_sell_price" property="goodsPrice" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <!--查询商品二级分类-->
    <select id="getTwoClassifyList" resultMap="TwoSortInfo">
        select
        a.class_id ,
        a.class_name ,
        b.goods_code ,
        b.goods_name ,
        b.goods_picture,
        b.goods_sell_price
        from t_goods_classification a
        left join t_goods_management b on (a.class_id =  b.second_class and b.goods_status = 1)
        where a.is_deleted = 0
        and a.class_parent = #{secondSortCode}

    </select>

</mapper>