<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.AppOrder.dao.AppOrderDao">
<!--新增订单-->
    <insert id="addOrder" parameterType="com.xzsd.app.AppOrder.entity.AppOrderInfo">
         insert into t_order_management
        (
         goods_id,
         order_price,
         goods_count,
         store_id,
         order_status
         )
         values
         (
         #{goodsCode},
         #{goodsPrice},
         #{goodsCount},
         #{storeCode},
         1
         )
    </insert>
    <!--新增订单评价-->
    <insert id="addEvaluate" parameterType="com.xzsd.app.AppOrder.entity.AppOrderInfo">
         insert into t_goods_evaluate
        ( order_id,
          goods_id,
          evaluate,
          evaluate_score
         )
         values
         (
         #{orderCode},
         #{goodsCode},
         #{evaluate},
         #{evaluateScore}
         )
    </insert>
    <!--修改订单状态-->
    <update id="updateOrder" parameterType="com.xzsd.app.AppOrder.entity.AppOrderInfo">
        update t_order_management
        set
        order_status = #{orderState},
        version = version + 1,
        last_modified_by=now()
        where order_id = #{orderCode}
    </update>
    
    <resultMap id="AppOrderInfo" type="com.xzsd.app.AppOrder.entity.AppOrderInfo">
        <id column="order_id" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_price" property="orderPrice" jdbcType="VARCHAR"/>
        <result column="order_goods_count" property="orderGoodsCount" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderState" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="createTime" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <collection property="orderGoodsInfo" ofType="com.xzsd.app.AppOrder.entity.orderGoodsInfo">
            <id column="Code" property="goodsCode" jdbcType="VARCHAR"/>
            <result column="Price" property="goodsPrice" jdbcType="VARCHAR"/>
            <result column="goods_picture" property="goodsPicture" jdbcType="VARCHAR"/>
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
            <result column="goods_count" property="goodsCount" jdbcType="VARCHAR"/>
            <result column="introduction" property="goodsIntroduction" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <!--查询订单列表-->
    <select id="getOrder" resultMap="AppOrderInfo">
        select
        a.store_name,
        a.address,
        b.order_price,
        b.goods_count,
        b.order_id,
        b.gmt_create,
        b.order_status,
        c.goods_name,
        c.goods_sell_price as Price,
        c.goods_code  as Code,
        c.goods_introduction as introduction,
        b.goods_count
        from t_store_information a,t_order_management b,t_goods_management c
        where c.store_code = a.store_id and c.goods_code = b.goods_id
          and b.order_id =#{orderCode}

    </select>

    <!--查询订单列表-->
    <select id="listOrder" resultMap="AppOrderInfo">
        select
        a.store_name,
        a.address,
        b.order_price,
        b.goods_count,
        b.order_id,
        b.gmt_create,
        b.order_status orderState,
        c.goods_name,
        c.goods_sell_price as Price,
        c.goods_code  as Code,
        b.goods_count
        from t_store_information a,t_order_management b,t_goods_management c
        where c.store_code = a.store_id and c.goods_code = b.goods_id
        <if test="orderState != null and orderState != ''">
            and b.order_status like concat('%', #{orderState}, '%')
        </if>

    </select>

<!--查询评价列表-->
    <select id="listEvaluate" parameterType="com.xzsd.app.AppOrder.entity.AppOrderInfo" resultType="com.xzsd.app.AppOrder.entity.AppOrderInfo">
        select
        goods_code,
        goods_picture
        from t_goods_evaluate a,t_goods_management b
        where a.goods_id = b.goods_code
        and a.order_id = #{orderCode}
    </select>


    <!--删除购物车-->
    <update id="deleteShop" parameterType="AppShop.entity.AppShopInfo" >
        update t_app_shop
        set
          is_deleted = 1,
          gmt_modified = now()
          where shop_id = #{shopCode}
    </update>
</mapper>